In [1]:
# Import required libaraies

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

import warnings
warnings.simplefilter("ignore")

In [2]:
# Display Maximum columns

pd.set_option("display.max_columns",None)

#### 1_DataFrame leads_basic_details

In [3]:
data_set_1=pd.read_csv("leads_basic_details.csv")
data_set_1.head()

,lead_id,age,gender,current_city,current_education,parent_occupation,lead_gen_source
0,USR1001,16,FEMALE,Hyderabad,Intermediate,Private Employee,social_media
1,USR1002,20,MALE,Bengaluru,B.Tech,Business,user_referrals
2,USR1003,20,FEMALE,Visakhapatnam,B.Tech,Lawyer,user_referrals
3,USR1004,16,MALE,Mumbai,Intermediate,IT Employee,user_referrals
4,USR1005,16,MALE,Chennai,Intermediate,Government Employee,user_referrals

In [4]:
print("Columns are :",data_set_1.columns)
print("Rows{a} and columns {b}".format(a=data_set_1.shape[0],b=data_set_1.shape[1]))

Columns are : Index(['lead_id', 'age', 'gender', 'current_city', 'current_education',
       'parent_occupation', 'lead_gen_source'],
      dtype='object')
Rows360 and columns 7

#### 2_DataFrame leads_demo_watched_details.csv

In [5]:
data_set_2=pd.read_csv("leads_demo_watched_details.csv")
data_set_2.head()

   lead_id demo_watched_date language  watched_percentage
0  USR1002          1/4/2022   Telugu                  42
1  USR1003          1/7/2022   Telugu                  81
2  USR1004          1/2/2022   Telugu                  35
3  USR1005          1/3/2022    Hindi                  38
4  USR1006         1/12/2022    Hindi                  54

In [6]:
print("Columns are :",data_set_2.columns)
print("Rows{a} and columns {b}".format(a=data_set_2.shape[0],b=data_set_2.shape[1]))

Columns are : Index(['lead_id', 'demo_watched_date', 'language', 'watched_percentage'], dtype='object')
Rows194 and columns 4

#### 3_DataFrame leads_interaction_details.csv

In [7]:
data_set_3=pd.read_csv("leads_interaction_details.csv")
data_set_3.head()

,jnr_sm_id,lead_id,lead_stage,call_done_date,call_status,call_reason
0,JNR1001MG,USR1001,lead,1/2/2022,successful,lead_introduction
1,JNR1001MG,USR1001,lead,1/2/2022,successful,demo_schedule
2,JNR1001MG,USR1002,lead,1/3/2022,successful,lead_introduction
3,JNR1001MG,USR1002,lead,1/4/2022,successful,demo_schedule
4,JNR1001MG,USR1002,awareness,1/5/2022,successful,post_demo_followup

In [8]:
print("Columns are :",data_set_3.columns)
print("Rows{a} and columns {b}".format(a=data_set_3.shape[0],b=data_set_3.shape[1]))

Columns are : Index(['jnr_sm_id', 'lead_id', 'lead_stage', 'call_done_date', 'call_status',
       'call_reason'],
      dtype='object')
Rows2192 and columns 6

#### 4_DataFrame leads_reasons_for_no_interest.csv

In [9]:
data_set_4=pd.read_csv("leads_reasons_for_no_interest.csv")
data_set_4.head()

,lead_id,reasons_for_not_interested_in_demo,reasons_for_not_interested_to_consider,reasons_for_not_interested_to_convert
0,USR1001,No time for student,NaN,NaN
1,USR1003,NaN,No time for student,NaN
2,USR1004,NaN,Wants offline classes,NaN
3,USR1005,NaN,Can't afford,NaN
4,USR1006,NaN,Student not interested in domain,NaN

In [10]:
print("Columns are :",data_set_4.columns)
print("Rows{a} and columns {b}".format(a=data_set_4.shape[0],b=data_set_4.shape[1]))

Columns are : Index(['lead_id', 'reasons_for_not_interested_in_demo',
       'reasons_for_not_interested_to_consider',
       'reasons_for_not_interested_to_convert'],
      dtype='object')
Rows294 and columns 4

#### 5_DataFrame sales_managers_assigned_leads_details.csv

In [11]:
data_set_5=pd.read_csv("sales_managers_assigned_leads_details.csv")
data_set_5.head()

  snr_sm_id  jnr_sm_id assigned_date  cycle  lead_id
0  SNR501MG  JNR1001MG      1/1/2022      1  USR1001
1  SNR501MG  JNR1001MG      1/1/2022      1  USR1002
2  SNR501MG  JNR1001MG      1/1/2022      1  USR1003
3  SNR501MG  JNR1001MG      1/1/2022      1  USR1004
4  SNR501MG  JNR1001MG      1/1/2022      1  USR1005

In [12]:
print("Columns are :",data_set_5.columns)
print("Rows{a} and columns {b}".format(a=data_set_5.shape[0],b=data_set_5.shape[1]))

Columns are : Index(['snr_sm_id', 'jnr_sm_id', 'assigned_date', 'cycle', 'lead_id'], dtype='object')
Rows360 and columns 5

#### Merge all Dataframes

In [13]:
df_1=pd.merge(data_set_1,data_set_2,on="lead_id",how='left') # Merge data set 1 and 2
df_2=pd.merge(df_1,data_set_3,on="lead_id",how='left')
df_3=pd.merge(df_2,data_set_4,on="lead_id",how='left')
data=pd.merge(df_3,data_set_5,on="lead_id",how='left') # Final dataset

In [14]:
data.head()

,lead_id,age,gender,current_city,current_education,parent_occupation,lead_gen_source,demo_watched_date,language,watched_percentage,jnr_sm_id_x,lead_stage,call_done_date,call_status,call_reason,reasons_for_not_interested_in_demo,reasons_for_not_interested_to_consider,reasons_for_not_interested_to_convert,snr_sm_id,jnr_sm_id_y,assigned_date,cycle
0,USR1001,16,FEMALE,Hyderabad,Intermediate,Private Employee,social_media,NaN,NaN,NaN,JNR1001MG,lead,1/2/2022,successful,lead_introduction,No time for student,NaN,NaN,SNR501MG,JNR1001MG,1/1/2022,1
1,USR1001,16,FEMALE,Hyderabad,Intermediate,Private Employee,social_media,NaN,NaN,NaN,JNR1001MG,lead,1/2/2022,successful,demo_schedule,No time for student,NaN,NaN,SNR501MG,JNR1001MG,1/1/2022,1
2,USR1002,20,MALE,Bengaluru,B.Tech,Business,user_referrals,1/4/2022,Telugu,42.0,JNR1001MG,lead,1/3/2022,successful,lead_introduction,NaN,NaN,NaN,SNR501MG,JNR1001MG,1/1/2022,1
3,USR1002,20,MALE,Bengaluru,B.Tech,Business,user_referrals,1/4/2022,Telugu,42.0,JNR1001MG,lead,1/4/2022,successful,demo_schedule,NaN,NaN,NaN,SNR501MG,JNR1001MG,1/1/2022,1
4,USR1002,20,MALE,Bengaluru,B.Tech,Business,user_referrals,1/4/2022,Telugu,42.0,JNR1001MG,awareness,1/5/2022,successful,post_demo_followup,NaN,NaN,NaN,SNR501MG,JNR1001MG,1/1/2022,1

In [15]:
print("Columns are :",data.columns)
print("Rows : {a} and columns : {b}".format(a=data.shape[0],b=data.shape[1]))
print("Data_Type : ","\n",data.dtypes)

Columns are : Index(['lead_id', 'age', 'gender', 'current_city', 'current_education',
       'parent_occupation', 'lead_gen_source', 'demo_watched_date', 'language',
       'watched_percentage', 'jnr_sm_id_x', 'lead_stage', 'call_done_date',
       'call_status', 'call_reason', 'reasons_for_not_interested_in_demo',
       'reasons_for_not_interested_to_consider',
       'reasons_for_not_interested_to_convert', 'snr_sm_id', 'jnr_sm_id_y',
       'assigned_date', 'cycle'],
      dtype='object')
Rows : 2194 and columns : 22
Data_Type :
 lead_id                                    object
age                                         int64
gender                                     object
current_city                               object
current_education                          object
parent_occupation                          object
lead_gen_source                            object
demo_watched_date                          object
language                                   object
watched_percentage                        float64
jnr_sm_id_x                                object
lead_stage                                 object
call_done_date                             object
call_status                                object
call_reason                                object
reasons_for_not_interested_in_demo         object
reasons_for_not_interested_to_consider     object
reasons_for_not_interested_to_convert      object
snr_sm_id                                  object
jnr_sm_id_y                                object
assigned_date                              object
cycle                                       int64
dtype: object

In [16]:
#chaeck the duplicate rows
data[data.duplicated(subset=None, keep="first")]

,lead_id,age,gender,current_city,current_education,parent_occupation,lead_gen_source,demo_watched_date,language,watched_percentage,jnr_sm_id_x,lead_stage,call_done_date,call_status,call_reason,reasons_for_not_interested_in_demo,reasons_for_not_interested_to_consider,reasons_for_not_interested_to_convert,snr_sm_id,jnr_sm_id_y,assigned_date,cycle
8,USR1002,20,MALE,Bengaluru,B.Tech,Business,user_referrals,1/4/2022,Telugu,42.0,JNR1001MG,consideration,1/7/2022,successful,followup_for_conversion,NaN,NaN,NaN,SNR501MG,JNR1001MG,1/1/2022,1
32,USR1007,16,FEMALE,Hyderabad,Intermediate,Professor/Faculty,social_media,1/11/2022,English,52.0,JNR1001MG,consideration,1/14/2022,successful,followup_for_conversion,NaN,NaN,NaN,SNR501MG,JNR1001MG,1/8/2022,2
91,USR1017,24,MALE,Hyderabad,Looking for Job,Lawyer,social_media,2/19/2022,English,42.0,JNR1001MG,consideration,2/21/2022,successful,followup_for_conversion,NaN,NaN,NaN,SNR501MG,JNR1001MG,2/19/2022,4
113,USR1022,24,FEMALE,Hyderabad,Looking for Job,Business,social_media,1/4/2022,Telugu,5.0,JNR1002MG,consideration,1/9/2022,successful,followup_for_conversion,NaN,NaN,NaN,SNR501MG,JNR1002MG,1/1/2022,1
122,USR1023,21,FEMALE,Hyderabad,Degree,Lawyer,social_media,1/1/2022,Telugu,52.0,JNR1002MG,consideration,1/3/2022,successful,followup_for_conversion,NaN,NaN,NaN,SNR501MG,JNR1002MG,1/1/2022,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2104,USR1318,21,MALE,Mumbai,Degree,IT Employee,email_marketing,2/25/2022,English,83.0,JNR1016MG,lead,2/25/2022,successful,demo_not_attended,NaN,Wants offline classes,NaN,SNR504MG,JNR1016MG,2/19/2022,4
2105,USR1318,21,MALE,Mumbai,Degree,IT Employee,email_marketing,2/25/2022,English,83.0,JNR1016MG,lead,2/25/2022,successful,demo_not_attended,NaN,Wants offline classes,NaN,SNR504MG,JNR1016MG,2/19/2022,4
2128,USR1324,22,FEMALE,Kochi,Looking for Job,IT Employee,social_media,NaN,NaN,NaN,JNR1015MG,lead,1/2/2022,unsuccessful,demo_schedule,Can't afford,NaN,NaN,SNR504MG,JNR1015MG,1/1/2022,1
2130,USR1325,25,FEMALE,Kochi,Looking for Job,Private Employee,email_marketing,NaN,NaN,NaN,JNR1001MG,lead,1/1/2022,unsuccessful,lead_introduction,Can't afford,NaN,NaN,SNR501MG,JNR1001MG,1/1/2022,1
2155,USR1335,20,MALE,Visakhapatnam,B.Tech,Government Employee,email_marketing,NaN,NaN,NaN,JNR1011MG,lead,1/9/2022,successful,demo_not_attended,Wants offline classes,NaN,NaN,SNR503MG,JNR1011MG,1/1/2022,1

In [17]:
data[data.duplicated(subset=["lead_id"], keep="first")]

,lead_id,age,gender,current_city,current_education,parent_occupation,lead_gen_source,demo_watched_date,language,watched_percentage,jnr_sm_id_x,lead_stage,call_done_date,call_status,call_reason,reasons_for_not_interested_in_demo,reasons_for_not_interested_to_consider,reasons_for_not_interested_to_convert,snr_sm_id,jnr_sm_id_y,assigned_date,cycle
1,USR1001,16,FEMALE,Hyderabad,Intermediate,Private Employee,social_media,NaN,NaN,NaN,JNR1001MG,lead,1/2/2022,successful,demo_schedule,No time for student,NaN,NaN,SNR501MG,JNR1001MG,1/1/2022,1
3,USR1002,20,MALE,Bengaluru,B.Tech,Business,user_referrals,1/4/2022,Telugu,42.0,JNR1001MG,lead,1/4/2022,successful,demo_schedule,NaN,NaN,NaN,SNR501MG,JNR1001MG,1/1/2022,1
4,USR1002,20,MALE,Bengaluru,B.Tech,Business,user_referrals,1/4/2022,Telugu,42.0,JNR1001MG,awareness,1/5/2022,successful,post_demo_followup,NaN,NaN,NaN,SNR501MG,JNR1001MG,1/1/2022,1
5,USR1002,20,MALE,Bengaluru,B.Tech,Business,user_referrals,1/4/2022,Telugu,42.0,JNR1001MG,awareness,1/6/2022,successful,followup_for_consideration,NaN,NaN,NaN,SNR501MG,JNR1001MG,1/1/2022,1
6,USR1002,20,MALE,Bengaluru,B.Tech,Business,user_referrals,1/4/2022,Telugu,42.0,JNR1001MG,consideration,1/7/2022,successful,interested_for_conversion,NaN,NaN,NaN,SNR501MG,JNR1001MG,1/1/2022,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2177,USR1348,16,FEMALE,Kochi,Intermediate,Business,social_media,2/27/2022,English,72.0,JNR1012MG,lead,2/28/2022,successful,demo_not_attended,NaN,NaN,Wants offline classes,SNR503MG,JNR1012MG,2/19/2022,4
2178,USR1348,16,FEMALE,Kochi,Intermediate,Business,social_media,2/27/2022,English,72.0,JNR1012MG,awareness,2/28/2022,successful,post_demo_followup,NaN,NaN,Wants offline classes,SNR503MG,JNR1012MG,2/19/2022,4
2179,USR1348,16,FEMALE,Kochi,Intermediate,Business,social_media,2/27/2022,English,72.0,JNR1012MG,awareness,2/28/2022,successful,followup_for_consideration,NaN,NaN,Wants offline classes,SNR503MG,JNR1012MG,2/19/2022,4
2180,USR1348,16,FEMALE,Kochi,Intermediate,Business,social_media,2/27/2022,English,72.0,JNR1012MG,consideration,2/28/2022,successful,followup_for_conversion,NaN,NaN,Wants offline classes,SNR503MG,JNR1012MG,2/19/2022,4
2181,USR1348,16,FEMALE,Kochi,Intermediate,Business,social_media,2/27/2022,English,72.0,JNR1012MG,consideration,2/28/2022,successful,interested_for_conversion,NaN,NaN,Wants offline classes,SNR503MG,JNR1012MG,2/19/2022,4

In [18]:
data[data.duplicated(subset=["lead_id","call_reason"], keep="first")]

,lead_id,age,gender,current_city,current_education,parent_occupation,lead_gen_source,demo_watched_date,language,watched_percentage,jnr_sm_id_x,lead_stage,call_done_date,call_status,call_reason,reasons_for_not_interested_in_demo,reasons_for_not_interested_to_consider,reasons_for_not_interested_to_convert,snr_sm_id,jnr_sm_id_y,assigned_date,cycle
8,USR1002,20,MALE,Bengaluru,B.Tech,Business,user_referrals,1/4/2022,Telugu,42.0,JNR1001MG,consideration,1/7/2022,successful,followup_for_conversion,NaN,NaN,NaN,SNR501MG,JNR1001MG,1/1/2022,1
11,USR1003,20,FEMALE,Visakhapatnam,B.Tech,Lawyer,user_referrals,1/7/2022,Telugu,81.0,JNR1001MG,lead,1/5/2022,successful,lead_introduction,NaN,No time for student,NaN,SNR501MG,JNR1001MG,1/1/2022,1
19,USR1005,16,MALE,Chennai,Intermediate,Government Employee,user_referrals,1/3/2022,Hindi,38.0,JNR1001MG,lead,1/2/2022,successful,lead_introduction,NaN,Can't afford,NaN,SNR501MG,JNR1001MG,1/1/2022,1
32,USR1007,16,FEMALE,Hyderabad,Intermediate,Professor/Faculty,social_media,1/11/2022,English,52.0,JNR1001MG,consideration,1/14/2022,successful,followup_for_conversion,NaN,NaN,NaN,SNR501MG,JNR1001MG,1/8/2022,2
35,USR1008,20,MALE,Hyderabad,B.Tech,Business,website,1/8/2022,Telugu,41.0,JNR1001MG,lead,1/8/2022,successful,lead_introduction,NaN,Will join in final year,NaN,SNR501MG,JNR1001MG,1/8/2022,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2152,USR1335,20,MALE,Visakhapatnam,B.Tech,Government Employee,email_marketing,NaN,NaN,NaN,JNR1011MG,lead,1/7/2022,successful,lead_introduction,Wants offline classes,NaN,NaN,SNR503MG,JNR1011MG,1/1/2022,1
2155,USR1335,20,MALE,Visakhapatnam,B.Tech,Government Employee,email_marketing,NaN,NaN,NaN,JNR1011MG,lead,1/9/2022,successful,demo_not_attended,Wants offline classes,NaN,NaN,SNR503MG,JNR1011MG,1/1/2022,1
2156,USR1335,20,MALE,Visakhapatnam,B.Tech,Government Employee,email_marketing,NaN,NaN,NaN,JNR1011MG,lead,1/9/2022,unsuccessful,demo_not_attended,Wants offline classes,NaN,NaN,SNR503MG,JNR1011MG,1/1/2022,1
2167,USR1343,24,FEMALE,Kochi,Looking for Job,IT Employee,social_media,1/25/2022,English,68.0,JNR1012MG,lead,1/28/2022,successful,demo_not_attended,NaN,NaN,Wants offline classes,SNR503MG,JNR1012MG,1/15/2022,3
2177,USR1348,16,FEMALE,Kochi,Intermediate,Business,social_media,2/27/2022,English,72.0,JNR1012MG,lead,2/28/2022,successful,demo_not_attended,NaN,NaN,Wants offline classes,SNR503MG,JNR1012MG,2/19/2022,4

In [37]:
data.nunique()

lead_id                                   360
age                                         9
gender                                      2
current_city                                6
current_education                           6
parent_occupation                           7
lead_gen_source                             5
demo_watched_date                          32
language                                    3
watched_percentage                         86
jnr_sm_id_x                                16
lead_stage                                  4
call_done_date                             40
call_status                                 2
call_reason                                 8
reasons_for_not_interested_in_demo          6
reasons_for_not_interested_to_consider      5
reasons_for_not_interested_to_convert       5
snr_sm_id                                   4
jnr_sm_id_y                                16
assigned_date                               4
cycle                                       4
dtype: int64

In [20]:
data.shape

(2194, 22)

In [39]:
data.describe(include="object")

,lead_id,gender,current_city,current_education,parent_occupation,lead_gen_source,demo_watched_date,language,jnr_sm_id_x,lead_stage,call_done_date,call_status,call_reason,reasons_for_not_interested_in_demo,reasons_for_not_interested_to_consider,reasons_for_not_interested_to_convert,snr_sm_id,jnr_sm_id_y,assigned_date
count,2194,2194,2194,2194,2194,2194,1578,1578,2192,2192,2192,2192,2192,614,470,471,2194,2194,2194
unique,360,2,6,6,7,5,32,3,16,4,40,2,8,6,5,5,4,16,4
top,USR1183,FEMALE,Visakhapatnam,B.Tech,Government Employee,social_media,1/17/2022,English,JNR1012MG,lead,1/8/2022,successful,demo_not_attended,Wants offline classes,Can't afford,Can't afford,SNR503MG,JNR1012MG,1/15/2022
freq,11,1251,467,852,741,501,169,928,164,1547,156,1866,701,196,190,175,583,164,650

## Cehecking Missing Values

In [26]:
data.isnull().sum()

lead_id                                      0
age                                          0
gender                                       0
current_city                                 0
current_education                            0
parent_occupation                            0
lead_gen_source                              0
demo_watched_date                          616
language                                   616
watched_percentage                         616
jnr_sm_id_x                                  2
lead_stage                                   2
call_done_date                               2
call_status                                  2
call_reason                                  2
reasons_for_not_interested_in_demo        1580
reasons_for_not_interested_to_consider    1724
reasons_for_not_interested_to_convert     1723
snr_sm_id                                    0
jnr_sm_id_y                                  0
assigned_date                                0
cycle                                        0
dtype: int64

In [25]:
def missing(dff):
    print (round((dff.isnull().sum() * 100/ len(dff)),2).sort_values(ascending=False))
    

missing(data)

reasons_for_not_interested_to_consider    78.58
reasons_for_not_interested_to_convert     78.53
reasons_for_not_interested_in_demo        72.01
demo_watched_date                         28.08
language                                  28.08
watched_percentage                        28.08
lead_stage                                 0.09
call_reason                                0.09
jnr_sm_id_x                                0.09
call_done_date                             0.09
call_status                                0.09
assigned_date                              0.00
jnr_sm_id_y                                0.00
snr_sm_id                                  0.00
lead_id                                    0.00
age                                        0.00
lead_gen_source                            0.00
parent_occupation                          0.00
current_education                          0.00
current_city                               0.00
gender                                     0.00
cycle                                      0.00
dtype: float64

In [29]:
def rmissingvaluecol(dff, threshold):
    l = []
    l = list(dff.drop(dff.loc[:,list((100*(dff.isnull().sum()/len(dff.index)) >= threshold))].columns, 1).columns.values)
    print("# Columns having more than %s percent missing values: "%threshold, (dff.shape[1] - len(l)))
    print("Columns:\n", list(set(list((dff.columns.values))) - set(l)))
    print (round((dff.isnull().sum() * 100/ len(dff)),2).sort_values(ascending=False))
    return l


rmissingvaluecol(data,70)

# Columns having more than 70 percent missing values:  3
Columns:
 ['reasons_for_not_interested_in_demo', 'reasons_for_not_interested_to_convert', 'reasons_for_not_interested_to_consider']
reasons_for_not_interested_to_consider    78.58
reasons_for_not_interested_to_convert     78.53
reasons_for_not_interested_in_demo        72.01
demo_watched_date                         28.08
language                                  28.08
watched_percentage                        28.08
lead_stage                                 0.09
call_reason                                0.09
jnr_sm_id_x                                0.09
call_done_date                             0.09
call_status                                0.09
assigned_date                              0.00
jnr_sm_id_y                                0.00
snr_sm_id                                  0.00
lead_id                                    0.00
age                                        0.00
lead_gen_source                            0.00
parent_occupation                          0.00
current_education                          0.00
current_city                               0.00
gender                                     0.00
cycle                                      0.00
dtype: float64

['lead_id',
 'age',
 'gender',
 'current_city',
 'current_education',
 'parent_occupation',
 'lead_gen_source',
 'demo_watched_date',
 'language',
 'watched_percentage',
 'jnr_sm_id_x',
 'lead_stage',
 'call_done_date',
 'call_status',
 'call_reason',
 'snr_sm_id',
 'jnr_sm_id_y',
 'assigned_date',
 'cycle']

In [33]:
data["cycle"].value_counts()

3    650
1    575
4    497
2    472
Name: cycle, dtype: int64